.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

.content{
  width: 50%;
  margin: auto;
}

.login-div{
  max-width: 400px;
  margin: auto;
  margin-top: 300px;
  padding: 40px;
  border-radius: 10px;
  border-style: solid;
  border-color: darkgrey;
}


.div-book-row{
  background-color:antiquewhite;
  border-style: solid;
  padding: 10px;
  width: 100%;
  min-width: 400px;
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.div-actions{
  display: inline;
}
.button-actions{
  min-width: 70px;
  margin: 3px;
  height: 100%;
  display: inline;
}

.div-author{
  text-align: left;
  font-size: 15px;
}

.div-title{
  text-align: left;
  font-size: 25px;
  font-weight: 500;
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
